.wrapper {
  position: fixed;
  top: calc(var(--header-height) + var(--breadcrumb-height) + 2px + 20px);
  right: 10px;
  height: 60px;
}

.btn-add {
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 8px 10px;
  white-space: nowrap;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  gap: 8px;
  width: 34px;
  font-size: 1.4rem;

  &:hover {
    width: fit-content;
  }

  & span {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  &:hover span {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
